$general-text-color: #21243D;
$primary-color: #ff6464;
$main-color: #FFF;
$light: #8695A4;
$border-line: #E0E0E0;

%btn {
   display: inline-block;
   text-align: center;
   color: $main-color;
   font-size: 20px;
   font-weight: 500;
   padding: 9px 20px;
   background-color: $primary-color;
   border-radius: 2px;
   text-transform: capitalize;

   &:hover {
      background: #ed5b5b;
      transition: color 0.3s ease;
      color: #b5ebfa;
   }
}

